<a href="https://colab.research.google.com/github/ZetaRR/NY-apartments-EDA-Regression-project/blob/main/GettingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Source Type:** Custom-made Zillow API

Link for API: https://rapidapi.com/apimaker/api/zillow-com1/



---

In [ ]:
from google.colab import drive, files
import json 
import pandas as pd
import requests
import time

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 200)

In [ ]:
drive.mount('/drive', force_remount=False)

#keys =
city = 'New York'
state = 'NY'
search_query = city + ', ' + state
print(search_query)

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).
New York, NY

In [ ]:
api_key_df = pd.read_csv('/drive/MyDrive/df_to_csv/api_key.csv')
api_key = api_key_df.iloc[0,:].apply(str).values
api_key = ' '.join([str(i) for i in api_key])

In [ ]:
#FIRST PAGE
url = "https://zillow-com1.p.rapidapi.com/propertyExtendedSearch"

querystring = {"location":search_query,"home_type":"Apartments",
               "page":"1"}

headers = {
	"X-RapidAPI-Host": "zillow-com1.p.rapidapi.com",
	"X-RapidAPI-Key": api_key,
  "minPrice":'6000000',
  "sqftMin":'150'
}

response = requests.request("GET", url, headers=headers, params=querystring)
response = response.json()

In [ ]:
response

{'props': [{'address': '333 E 91st St APT 28-A, New York, NY 10128',
   'bathrooms': 3,
   'bedrooms': 3,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/9a9763657e1ec9332a8d5906648c213e-p_e.jpg',
   'latitude': 40.780277,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': 1818,
   'longitude': -73.94728,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 1995000,
   'propertyType': 'APARTMENT',
   'zpid': '123971408'},
  {'address': '677 Seneca Ave FLOOR 1, Ridgewood, NY 11385',
   'bathrooms': 4,
   'bedrooms': 5,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/d3376a177ad744b2d9c661302e5ee725-p_e.jpg',
   'latitude': 40.7033,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 3000,
   'longitude': -73.90807,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 1588000,
   'propertyType': 'APARTMENT',
   'zpid': '2077855350'},
  {'address': '474 48th Ave APT 29B, Long Island City, NY 11109',
   'bathrooms': 2,
   'bedrooms': 2,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/93f19aea44f844579d96e763760e95ab-p_e.jpg',
   'latitude': 40.744408,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': 1046,
   'longitude': -73.95634,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 735000,
   'propertyType': 'APARTMENT',
   'zpid': '79739498'},
  {'address': '771 E 9th St APT 1, Brooklyn, NY 11230',
   'bathrooms': 6,
   'bedrooms': 14,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/5848584357f8507e638686c614f9f04c-p_e.jpg',
   'latitude': 40.63003,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 5000,
   'longitude': -73.96785,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 1580000,
   'propertyType': 'APARTMENT',
   'zpid': '2065298549'},
  {'address': '4 W 21st St APT 11B, New York, NY 10010',
   'bathrooms': 3,
   'bedrooms': 3,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/987d45ac95344b53e079ecea311b1501-p_e.jpg',
   'latitude': 40.740055,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 1674,
   'longitude': -73.990395,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 1750000,
   'propertyType': 'APARTMENT',
   'zpid': '72538269'},
  {'address': '4-74 48th Ave PENTHOUSE 1C, Long Island City, NY 11109',
   'bathrooms': 1,
   'bedrooms': 1,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/df7f9142c3c6ca507845455495d6c728-p_e.jpg',
   'latitude': 40.744408,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': 921,
   'longitude': -73.95634,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 555555,
   'propertyType': 'APARTMENT',
   'zpid': '219836786'},
  {'address': '4-74 48th Ave APT 19A, Long Island City, NY 11109',
   'bathrooms': 2,
   'bedrooms': 2,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/27bea9f710f732b73561add7b81db378-p_e.jpg',
   'latitude': 40.744408,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': 1046,
   'longitude': -73.95634,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 699999,
   'propertyType': 'APARTMENT',
   'zpid': '113197815'},
  {'address': '300 E 40th St APT 8F, New York, NY 10016',
   'bathrooms': 1,
   'bedrooms': 0,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/592f2685862008fa522bc84bf361e6ad-p_e.jpg',
   'latitude': 40.7481,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': None,
   'longitude': -73.97314,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 720000,
   'propertyType': 'APARTMENT',
   'zpid': '244884473'},
  {'address': '4-74 48th Ave #21AB, Long Island City, NY 11109',
   'bathrooms': 2,
   'bedrooms': 3,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/6a9ac7ac0b6108484a03128e4fc6f94e-p_e.jpg',
   'latitude': 40.7442,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': 2200,
   'longitude': -73.9568,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 1250000,
   'propertyType': 'APARTMENT',
   'zpid': '2078556904'},
  {'address': '310 E 46th St APT 23G, New York, NY 10017',
   'bathrooms': 1,
   'bedrooms': 1,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/10317ca847f4fa3110048a85dd6ce4db-p_e.jpg',
   'latitude': 40.752007,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': 1077,
   'longitude': -73.96973,
   'lotAreaUnit': 'sqft',
   'lotAreaValue': 1077,
   'price': 1250000,
   'propertyType': 'APARTMENT',
   'zpid': '82228315'},
  {'address': '85-15 Main St #7B, Jamaica, NY 11435',
   'bathrooms': 1,
   'bedrooms': 0,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/ab6db629362f06421cd3324ebc175393-p_e.jpg',
   'latitude': 40.7097,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': 425,
   'longitude': -73.8188,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 154888,
   'propertyType': 'APARTMENT',
   'zpid': '2080433707'},
  {'address': '12205 Flatlands Ave APT 9J, Brooklyn, NY 11207',
   'bathrooms': 1,
   'bedrooms': 2,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/a8d4c0e7329733031d06eb713ffd52ea-p_e.jpg',
   'latitude': 40.6548,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': 920,
   'longitude': -73.8838,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 350000,
   'propertyType': 'APARTMENT',
   'zpid': '2106073263'},
  {'address': '305 W 16th St PENTHOUSE C, New York, NY 10011',
   'bathrooms': 2,
   'bedrooms': 2,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/0b973d2e962627eb74ebcf7b2be33b81-p_e.jpg',
   'latitude': 40.7414,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': 1001,
   'longitude': -74.0017,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 2249500,
   'propertyType': 'APARTMENT',
   'zpid': '2078257908'},
  {'address': '677 Grandview Ave #9, Ridgewood, NY 11385',
   'bathrooms': 9,
   'bedrooms': 15,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/f71051a73c218911ce941fed46c575d9-p_e.jpg',
   'latitude': 40.7076,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 8840,
   'longitude': -73.9037,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 1655555,
   'propertyType': 'APARTMENT',
   'zpid': '2064416664'},
  {'address': '995 5th Ave FLOOR 16, New York, NY 10028',
   'bathrooms': 10,
   'bedrooms': 8,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/7e19ce414f537b0c40109cd1f439f93a-p_e.jpg',
   'latitude': 40.778004,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 8360,
   'longitude': -73.96255,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 29500000,
   'propertyType': 'APARTMENT',
   'zpid': '219692415'},
  {'address': '42 Ann St APT 7, New York, NY 10038',
   'bathrooms': 3,
   'bedrooms': 3,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/2fe0026de80945d43fd561e3fd445fff-p_e.jpg',
   'latitude': 40.71033,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': 2708,
   'longitude': -74.00721,
   'lotAreaUnit': 'sqft',
   'lotAreaValue': 2925,
   'price': 3150000,
   'propertyType': 'APARTMENT',
   'zpid': '124438842'},
  {'address': '334 E 65th St APT 42, New York, NY 10065',
   'bathrooms': 1,
   'bedrooms': 1,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/7b54dfcb57257b3e8225f7ea08ed27e6-p_e.jpg',
   'latitude': 40.7636,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 3809,
   'longitude': -73.9605,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 399000,
   'propertyType': 'APARTMENT',
   'zpid': '2067837641'},
  {'address': '2081 Cruger Ave, Bronx, NY 10462',
   'bathrooms': 1,
   'bedrooms': 1,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/e443033855948641b41d9bd9d37ed867-p_e.jpg',
   'latitude': 40.85275,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': None,
   'longitude': -73.867035,
   'lotAreaUnit': 'sqft',
   'lotAreaValue': 749,
   'price': 139500,
   'propertyType': 'APARTMENT',
   'zpid': '2065434930'},
  {'address': '300 E 40th St APT 30T, New York, NY 10016',
   'bathrooms': 2,
   'bedrooms': 1,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/913f1e296211121740f2c17ac61e3f2b-p_e.jpg',
   'latitude': 40.7481,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': 1000,
   'longitude': -73.97314,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 1350000,
   'propertyType': 'APARTMENT',
   'zpid': '244740259'},
  {'address': '160 Bleecker St APT 3KW, New York, NY 10012',
   'bathrooms': 1,
   'bedrooms': 0,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/0a4b17493ece6f203280c4230a26e71d-p_e.jpg',
   'latitude': 40.7284,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 500,
   'longitude': -74.0002,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 455000,
   'propertyType': 'APARTMENT',
   'zpid': '2109760284'},
  {'address': '1210 Evergreen Ave APT 4, Bronx, NY 10472',
   'bathrooms': 1,
   'bedrooms': 2,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/9626a7e425074a1af35e1a361f07b552-p_e.jpg',
   'latitude': 40.828934,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 1100,
   'longitude': -73.880875,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 299000,
   'propertyType': 'APARTMENT',
   'zpid': '2069656047'},
  {'address': '425 E 63rd St APT E6D, New York, NY 10065',
   'bathrooms': 2,
   'bedrooms': 2,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/3609a731343202ee9efb540529a68e92-p_e.jpg',
   'latitude': 40.761875,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': 455403,
   'longitude': -73.9586,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 1475000,
   'propertyType': 'APARTMENT',
   'zpid': '244825266'},
  {'address': '445 Lafayette St APT 5A, New York, NY 10003',
   'bathrooms': 3,
   'bedrooms': 3,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/5dcec334f925285fabe45dbaa3d2db2e-p_e.jpg',
   'latitude': 40.7295,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 2248,
   'longitude': -73.9912,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 4200000,
   'propertyType': 'APARTMENT',
   'zpid': '2122086846'},
  {'address': '21-06 35th St #3C, Astoria, NY 11105',
   'bathrooms': 1,
   'bedrooms': 2,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/9fb866c4f0a8b070ac8b1f98220d8b3c-p_e.jpg',
   'latitude': 40.77659,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 700,
   'longitude': -73.90705,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 399999,
   'propertyType': 'APARTMENT',
   'zpid': '2094734735'},
  {'address': '420 E 64th St APT E10D, New York, NY 10065',
   'bathrooms': 2,
   'bedrooms': 2,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/0541d805cec47b4c711964eee4ee66c2-p_e.jpg',
   'latitude': 40.76242,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 455403,
   'longitude': -73.9593,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 1400000,
   'propertyType': 'APARTMENT',
   'zpid': '244847252'},
  {'address': '4-74 48th Ave PENTHOUSE 2-C, Long Island City, NY 11109',
   'bathrooms': 1,
   'bedrooms': 2,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/6fcdaad3d5a0936ab68c44b56d0bc280-p_e.jpg',
   'latitude': 40.744408,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': 952,
   'longitude': -73.95634,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 650000,
   'propertyType': 'APARTMENT',
   'zpid': '219836778'},
  {'address': '2373 Broadway APT 1408, New York, NY 10024',
   'bathrooms': 2,
   'bedrooms': 2,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/8414be931bb84fb80435795c99cb51c3-p_e.jpg',
   'latitude': 40.788925,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': None,
   'longitude': -73.97667,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 1975000,
   'propertyType': 'APARTMENT',
   'zpid': '244725062'},
  {'address': '419 W 55th St APT 3C, New York, NY 10019',
   'bathrooms': 2,
   'bedrooms': 2,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/cef492ee386149fc85b3a1023eec1a7b-p_e.jpg',
   'latitude': 40.76725,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 1274,
   'longitude': -73.98755,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 999000,
   'propertyType': 'APARTMENT',
   'zpid': '72538810'},
  {'address': '157 Broome St #6D, New York, NY 10002',
   'bathrooms': 1,
   'bedrooms': 2,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/88f87209ebc88583c4addeaabb6fbdf6-p_e.jpg',
   'latitude': 40.71641,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 741,
   'longitude': -73.98533,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 599000,
   'propertyType': 'APARTMENT',
   'zpid': '2067078065'},
  {'address': '245 Henry St #1B, New York, NY 10002',
   'bathrooms': 1,
   'bedrooms': 1,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/96935fc69a8e2e1014eff118f0c1e06c-p_e.jpg',
   'latitude': 40.6934,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': None,
   'longitude': -73.9947,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 600000,
   'propertyType': 'APARTMENT',
   'zpid': '2068367878'},
  {'address': '995 5th Ave, New York, NY 10028',
   'bathrooms': 7,
   'bedrooms': 6,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/ce5a36bee874935d845f784e2af5d1c9-p_e.jpg',
   'latitude': 40.778004,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 4825,
   'longitude': -73.96255,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 14500000,
   'propertyType': 'APARTMENT',
   'zpid': '219692413'},
  {'address': '181 Withers St APT 4B, Brooklyn, NY 11211',

In [ ]:
pd.set_option('display.max_columns', 500)
df_first_page = pd.json_normalize(data=response['props'])
print('Columns -->', df_first_page.columns)
print('Nuw of Columns -->', len(df_first_page.columns))
print('Num of rows -->', len(df_first_page) )
df_first_page.head(2)

Columns --> Index(['dateSold', 'propertyType', 'lotAreaValue', 'address', 'daysOnZillow',
       'price', 'listingDateTime', 'longitude', 'latitude',
       'contingentListingType', 'listingStatus', 'zpid', 'imgSrc',
       'livingArea', 'bathrooms', 'lotAreaUnit', 'country', 'currency',
       'bedrooms', 'hasImage', 'listingSubType.is_FSBA',
       'listingSubType.is_openHouse'],
      dtype='object')
Nuw of Columns --> 22
Num of rows --> 40

,dateSold,propertyType,lotAreaValue,address,daysOnZillow,price,listingDateTime,longitude,latitude,contingentListingType,listingStatus,zpid,imgSrc,livingArea,bathrooms,lotAreaUnit,country,currency,bedrooms,hasImage,listingSubType.is_FSBA,listingSubType.is_openHouse
0,None,APARTMENT,NaN,"333 E 91st St APT 28-A, New York, NY 10128",-1,1995000,None,-73.94728,40.780277,None,FOR_SALE,123971408,https://photos.zillowstatic.com/fp/9a9763657e1...,1818.0,3,None,USA,USD,3,True,True,True
1,None,APARTMENT,NaN,"677 Seneca Ave FLOOR 1, Ridgewood, NY 11385",-1,1588000,None,-73.90807,40.703300,None,FOR_SALE,2077855350,https://photos.zillowstatic.com/fp/d3376a177ad...,3000.0,4,None,USA,USD,5,True,True,NaN

In [ ]:
#EXTENDED SEARCH
zpids = df_first_page['zpid'].tolist()

detail_list = []
for zpid in zpids:
  url = "https://zillow-com1.p.rapidapi.com/property"

  querystring = {"zpid":zpid}

  headers = {
	"X-RapidAPI-Host": "zillow-com1.p.rapidapi.com",
	"X-RapidAPI-Key": api_key
  }

  response_zpids = requests.request("GET", url, headers=headers, params=querystring)
  response_zpids_json = response_zpids.json()
  time.sleep(6.1)

  detail_list.append(response_zpids_json)

In [ ]:
details_cols = [
      'propertyTaxRate',
      'timeOnZillow',
      'isListedByOwner',
      'zipcode',
      'annualHomeownersInsurance',
      'rentZestimate',
      'yearBuilt',
      'pageViewCount',
      'listingProvider.postingGroupName',
      'resoFacts.cityRegion',
      'resoFacts.hasCooling',
      'resoFacts.hasView']

df_prop_details = pd.json_normalize(data=detail_list)
df_prop_details = df_prop_details[details_cols]

df_first_page = pd.concat([df_first_page, df_prop_details], axis=1)
df_first_page.head(5)

,dateSold,propertyType,lotAreaValue,address,daysOnZillow,price,listingDateTime,longitude,latitude,contingentListingType,listingStatus,zpid,imgSrc,livingArea,bathrooms,lotAreaUnit,country,currency,bedrooms,hasImage,listingSubType.is_FSBA,listingSubType.is_openHouse,propertyTaxRate,timeOnZillow,isListedByOwner,zipcode,annualHomeownersInsurance,rentZestimate,yearBuilt,pageViewCount,listingProvider.postingGroupName,resoFacts.cityRegion,resoFacts.hasCooling,resoFacts.hasView
0,None,APARTMENT,NaN,"333 E 91st St APT 28-A, New York, NY 10128",-1,1995000,None,-73.947280,40.780277,None,FOR_SALE,123971408,https://photos.zillowstatic.com/fp/9a9763657e1...,1818.0,3,None,USA,USD,3,True,True,True,0.88,174 days,False,10128,8379,12146.0,2007.0,3892,Compass,New York,True,False
1,None,APARTMENT,NaN,"677 Seneca Ave FLOOR 1, Ridgewood, NY 11385",-1,1588000,None,-73.908070,40.703300,None,FOR_SALE,2077855350,https://photos.zillowstatic.com/fp/d3376a177ad...,3000.0,4,None,USA,USD,5,True,True,NaN,0.84,18 hours,False,11385,6670,2894.0,1920.0,113,EXP Realty NYC,Ridgewood,True,False
2,None,APARTMENT,NaN,"474 48th Ave APT 29B, Long Island City, NY 11109",-1,735000,None,-73.956340,40.744408,None,FOR_SALE,79739498,https://photos.zillowstatic.com/fp/93f19aea44f...,1046.0,2,None,USA,USD,2,True,True,True,0.84,167 days,False,11109,3087,3319.0,1996.0,6591,Modern Spaces,Long Island City,False,True
3,None,APARTMENT,NaN,"771 E 9th St APT 1, Brooklyn, NY 11230",-1,1580000,None,-73.967850,40.630030,None,FOR_SALE,2065298549,https://photos.zillowstatic.com/fp/5848584357f...,5000.0,6,None,USA,USD,14,True,True,NaN,0.65,2 days,False,11230,6636,NaN,1925.0,254,Remax Edge,Brooklyn,False,False
4,None,APARTMENT,NaN,"4 W 21st St APT 11B, New York, NY 10010",-1,1750000,None,-73.990395,40.740055,None,FOR_SALE,72538269,https://photos.zillowstatic.com/fp/987d45ac953...,1674.0,3,None,USA,USD,3,True,True,NaN,0.88,476 days,False,10010,7350,11710.0,2006.0,2540,Brown Harris Stevens,New York,True,False

In [ ]:
#SECOND PAGE
url = "https://zillow-com1.p.rapidapi.com/propertyExtendedSearch"

querystring = {"location":search_query,"home_type":"Apartments",
               "page":"2"}

headers = {
	"X-RapidAPI-Host": "zillow-com1.p.rapidapi.com",
	"X-RapidAPI-Key": api_key,
  "minPrice":'6000000',
  "sqftMin":'150'
}

response = requests.request("GET", url, headers=headers, params=querystring)
response = response.json()

In [ ]:
response

{'props': [{'address': '30-06 42nd St #6FAM, Astoria, NY 11103',
   'bathrooms': 6,
   'bedrooms': 12,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/81a8928ee462f9e3641f46ec5f28b22b-p_e.jpg',
   'latitude': 40.76307,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 6500,
   'longitude': -73.91379,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 1595000,
   'propertyType': 'APARTMENT',
   'zpid': '2065665911'},
  {'address': '2205 Avenue X #1, Brooklyn, NY 11235',
   'bathrooms': 0,
   'bedrooms': 0,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': None,
   'imgSrc': 'https://maps.googleapis.com/maps/api/staticmap?mobile=false&sensor=true&maptype=satellite&size=575x242&zoom=17&center=40.5932502746582,-73.94795227050781&key=AIzaSyBJsNQO5ZeG-XAbqqWLKwG08fWITSxg33w&signature=XUCUwdENwUF3QnNJvU18xFogCsQ=',
   'latitude': 40.59325,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 2180,
   'longitude': -73.94795,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 699000,
   'propertyType': 'APARTMENT',
   'zpid': '2065418070'},
  {'address': '415 Woodward Ave SUITE 1, Ridgewood, NY 11385',
   'bathrooms': 5,
   'bedrooms': 11,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/f05f13909f2106b846060c7e77eef430-p_e.jpg',
   'latitude': 40.70858,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 4500,
   'longitude': -73.9115,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 2000000,
   'propertyType': 'APARTMENT',
   'zpid': '2070765251'},
  {'address': '555 Main St APT 1111, New York, NY 10044',
   'bathrooms': 1,
   'bedrooms': 0,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/a68792d77209c33854ef8d5df96ee0ef-p_e.jpg',
   'latitude': 40.762577,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 596,
   'longitude': -73.94948,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 455000,
   'propertyType': 'APARTMENT',
   'zpid': '2098519057'},
  {'address': '71 Coffey St #1, Brooklyn, NY 11231',
   'bathrooms': 4,
   'bedrooms': 6,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/c935cc2d699634afc0965caef74a2532-p_e.jpg',
   'latitude': 40.675236,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 4193,
   'longitude': -74.01303,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 2995000,
   'propertyType': 'APARTMENT',
   'zpid': '2076670359'},
  {'address': '343 E 74th St #17CD, New York, NY 10021',
   'bathrooms': 3,
   'bedrooms': 4,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/927420a424554b10e0d462c4640302f9-p_e.jpg',
   'latitude': 40.76977,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 2057,
   'longitude': -73.955734,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 1995000,
   'propertyType': 'APARTMENT',
   'zpid': '2068015398'},
  {'address': '804 E 216th St, Bronx, NY 10467',
   'bathrooms': 3,
   'bedrooms': 6,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/51bd19f47d3d24148847ee540f11715c-p_e.jpg',
   'latitude': 40.880344,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_foreclosure': True},
   'livingArea': 2604,
   'longitude': -73.86092,
   'lotAreaUnit': 'sqft',
   'lotAreaValue': 2243,
   'price': 550000,
   'propertyType': 'APARTMENT',
   'zpid': '89068420'},
  {'address': '474 48th Ave APT 15A, Long Island City, NY 11109',
   'bathrooms': 2,
   'bedrooms': 2,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/5d933cd0db3dc34f7fd5034b48c73e1a-p_e.jpg',
   'latitude': 40.744408,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': 1050,
   'longitude': -73.95634,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 739000,
   'propertyType': 'APARTMENT',
   'zpid': '245408485'},
  {'address': '1199 Dean St APT 1, Brooklyn, NY 11216',
   'bathrooms': 4,
   'bedrooms': 8,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': None,
   'imgSrc': 'https://maps.googleapis.com/maps/api/staticmap?mobile=false&sensor=true&maptype=satellite&size=575x242&zoom=17&center=40.67708969116211,-73.9495849609375&key=AIzaSyBJsNQO5ZeG-XAbqqWLKwG08fWITSxg33w&signature=4tzONodv75rkJZgeutAY94Q0bGE=',
   'latitude': 40.67709,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 4000,
   'longitude': -73.949585,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 1100000,
   'propertyType': 'APARTMENT',
   'zpid': '2110946906'},
  {'address': '304 Spring St APT 8, New York, NY 10013',
   'bathrooms': 2,
   'bedrooms': 3,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/bacc59c3be0f1263027a9f04a22eb980-p_e.jpg',
   'latitude': 40.725708,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 1863,
   'longitude': -74.00818,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 4250000,
   'propertyType': 'APARTMENT',
   'zpid': '80009516'},
  {'address': '150 W 50th St #6703, New York, NY 10019',
   'bathrooms': 4,
   'bedrooms': 3,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/17a68551d8301a82720e1e9e32f56bc9-p_e.jpg',
   'latitude': 40.760517,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': 2160,
   'longitude': -73.98284,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 3600000,
   'propertyType': 'APARTMENT',
   'zpid': '2065530255'},
  {'address': '995 5th Ave, New York, NY 10028',
   'bathrooms': 7,
   'bedrooms': 6,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/ce5a36bee874935d845f784e2af5d1c9-p_e.jpg',
   'latitude': 40.778004,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 4825,
   'longitude': -73.96255,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 14500000,
   'propertyType': 'APARTMENT',
   'zpid': '219692413'},
  {'address': '755 Narrows Rd N APT 403, Staten Island, NY 10304',
   'bathrooms': 2,
   'bedrooms': 2,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/7cdce592ff361f99554b8dc45187b8b1-p_e.jpg',
   'latitude': 40.61076,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 943,
   'longitude': -74.093575,
   'lotAreaUnit': 'sqft',
   'lotAreaValue': 943,
   'price': 479900,
   'propertyType': 'APARTMENT',
   'zpid': '32287408'},
  {'address': '63 E 9th St APT 12H, New York, NY 10003',
   'bathrooms': 2,
   'bedrooms': 3,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/417b15e165c51d2c7d2a09f4603182f6-p_e.jpg',
   'latitude': 40.731583,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': None,
   'longitude': -73.99207,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 1750000,
   'propertyType': 'APARTMENT',
   'zpid': '244744707'},
  {'address': '1721 E 8th St #27UNITS, Brooklyn, NY 11223',
   'bathrooms': 28,
   'bedrooms': 68,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/4463c3953ca80595e67f3fb75d481ccb-p_e.jpg',
   'latitude': 40.6069,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 20700,
   'longitude': -73.9644,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 15000000,
   'propertyType': 'APARTMENT',
   'zpid': '2065724243'},
  {'address': '87-14 57th Rd #H4, Elmhurst, NY 11373',
   'bathrooms': 1,
   'bedrooms': 2,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/1a7235c214bd5e9b81b88eda25b9589d-p_e.jpg',
   'latitude': 40.733086,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 863,
   'longitude': -73.87374,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 599000,
   'propertyType': 'APARTMENT',
   'zpid': '2065574193'},
  {'address': '50 Gramercy Park N #15AB, New York, NY 10010',
   'bathrooms': 3,
   'bedrooms': 3,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/60b7bef6184db8847236ee1261840a79-p_e.jpg',
   'latitude': 40.73863,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 3809,
   'longitude': -73.98606,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 4995000,
   'propertyType': 'APARTMENT',
   'zpid': '321904083'},
  {'address': '153 Bay 26 St #C, Brooklyn, NY 11214',
   'bathrooms': 4,
   'bedrooms': 0,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/8b4644dcfe453a9e186e847326cda26b-p_e.jpg',
   'latitude': 40.60051,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 5000,
   'longitude': -73.99977,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 2200000,
   'propertyType': 'APARTMENT',
   'zpid': '2065411292'},
  {'address': '4-74 48th Ave #4B, Queens, NY 11109',
   'bathrooms': 1,
   'bedrooms': 0,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/edbf7b8f7fb8dcfa72c2a47bd17f5e76-p_e.jpg',
   'latitude': 40.744408,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': 480,
   'longitude': -73.95634,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 399999,
   'propertyType': 'APARTMENT',
   'zpid': '219836841'},
  {'address': '300 E 40th St APT 11P, New York, NY 10016',
   'bathrooms': 1,
   'bedrooms': 1,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/444feb9d8c52b9ff9acb6b7a092ccd84-p_e.jpg',
   'latitude': 40.7481,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': None,
   'longitude': -73.97314,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 749000,
   'propertyType': 'APARTMENT',
   'zpid': '244829146'},
  {'address': '8794 17th Ave #3D, Brooklyn, NY 11214',
   'bathrooms': 2,
   'bedrooms': 2,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/523123c76fd3757a3e4df11fd20673a0-p_e.jpg',
   'latitude': 40.604782,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': 925,
   'longitude': -74.009254,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 675000,
   'propertyType': 'APARTMENT',
   'zpid': '2065747394'},
  {'address': '743 E 6th St #1, New York, NY 10009',
   'bathrooms': 3,
   'bedrooms': 3,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/78cb50a6e79bb8050b9d4e57d9c49aa4-p_e.jpg',
   'latitude': 40.722927,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 3930,
   'longitude': -73.97739,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 5500000,
   'propertyType': 'APARTMENT',
   'zpid': '2088386508'},
  {'address': '3334 Fort Independence St #1, Bronx, NY 10463',
   'bathrooms': 3,
   'bedrooms': 6,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/a89ea3e9e93427cd2114f253d62e31ce-p_e.jpg',
   'latitude': 40.878906,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': None,
   'longitude': -73.89934,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 1175000,
   'propertyType': 'APARTMENT',
   'zpid': '2065400625'},
  {'address': '50 Lexington Ave APT 6C, New York, NY 10010',
   'bathrooms': 2,
   'bedrooms': 2,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/9757c26346b1badcdcb56fabc3dc6d1d-p_e.jpg',
   'latitude': 40.740536,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': None,
   'longitude': -73.98434,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 1165000,
   'propertyType': 'APARTMENT',
   'zpid': '79496843'},
  {'address': '6223 13th Ave #3, Brooklyn, NY 11219',
   'bathrooms': 3,
   'bedrooms': 4,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/d1f20d663318c95cf23bd3da9ea22dfe-p_e.jpg',
   'latitude': 40.627113,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 2160,
   'longitude': -74.00004,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 1550000,
   'propertyType': 'APARTMENT',
   'zpid': '2065464692'},
  {'address': '70 Charlton St APT 20E, New York, NY 10014',
   'bathrooms': 5,
   'bedrooms': 4,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/1ef91d22f4d1942a8a9fdef5c0c82fb4-p_e.jpg',
   'latitude': 40.7267,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 2252,
   'longitude': -74.0066,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 4900000,
   'propertyType': 'APARTMENT',
   'zpid': '2087115980'},
  {'address': '200 Corbin Pl APT 2C, Brooklyn, NY 11235',
   'bathrooms': 2,
   'bedrooms': 2,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/1d1b6496243367c3384e4bc54fd86616-p_e.jpg',
   'latitude': 40.57689,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 1200,
   'longitude': -73.95427,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 499000,
   'propertyType': 'APARTMENT',
   'zpid': '245009500'},
  {'address': '4-74 48th Ave APT 28G, Long Island City, NY 11109',
   'bathrooms': 1,
   'bedrooms': 1,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/0795fa32c37afbfee00ae7b818c668c6-p_e.jpg',
   'latitude': 40.744408,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': 640,
   'longitude': -73.95634,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 460000,
   'propertyType': 'APARTMENT',
   'zpid': '79733434'},
  {'address': '4-74 48th Ave APT 27J, Long Island City, NY 11109',
   'bathrooms': 1,
   'bedrooms': 1,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/b917626561863b0a984c81053ff5800c-p_e.jpg',
   'latitude': 40.744408,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': 700,
   'longitude': -73.95634,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 550000,
   'propertyType': 'APARTMENT',
   'zpid': '80379798'},
  {'address': '211 E 53rd St APT 10A, New York, NY 10022',
   'bathrooms': 1,
   'bedrooms': 1,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/3f26cecb9d9ab74639713918adde9a40-p_e.jpg',
   'latitude': 40.757584,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True, 'is_openHouse': True},
   'livingArea': 700,
   'longitude': -73.96854,
   'lotAreaUnit': None,
   'lotAreaValue': None,
   'price': 660000,
   'propertyType': 'APARTMENT',
   'zpid': '244733925'},
  {'address': '232 E 35th St, New York, NY 10016',
   'bathrooms': 6,
   'bedrooms': 6,
   'contingentListingType': None,
   'country': 'USA',
   'currency': 'USD',
   'dateSold': None,
   'daysOnZillow': -1,
   'hasImage': True,
   'imgSrc': 'https://photos.zillowstatic.com/fp/534adf5eb6b4c35402eeee060eff387e-p_e.jpg',
   'latitude': 40.746075,
   'listingDateTime': None,
   'listingStatus': 'FOR_SALE',
   'listingSubType': {'is_FSBA': True},
   'livingArea': 8240,
   'longitude': -73.977516,

In [ ]:
df_second_page = pd.json_normalize(data=response['props'])
print('Columns -->', df_second_page.columns)
print('Nuw of Columns -->', len(df_second_page.columns))
print('Num of rows -->', len(df_second_page) )
df_second_page.head(5)

Columns --> Index(['dateSold', 'propertyType', 'lotAreaValue', 'address', 'daysOnZillow',
       'price', 'listingDateTime', 'longitude', 'latitude',
       'contingentListingType', 'listingStatus', 'zpid', 'imgSrc',
       'livingArea', 'bathrooms', 'lotAreaUnit', 'country', 'currency',
       'bedrooms', 'hasImage', 'listingSubType.is_FSBA',
       'listingSubType.is_foreclosure', 'listingSubType.is_openHouse'],
      dtype='object')
Nuw of Columns --> 23
Num of rows --> 40

,dateSold,propertyType,lotAreaValue,address,daysOnZillow,price,listingDateTime,longitude,latitude,contingentListingType,listingStatus,zpid,imgSrc,livingArea,bathrooms,lotAreaUnit,country,currency,bedrooms,hasImage,listingSubType.is_FSBA,listingSubType.is_foreclosure,listingSubType.is_openHouse
0,None,APARTMENT,NaN,"30-06 42nd St #6FAM, Astoria, NY 11103",-1,1595000,None,-73.91379,40.763070,None,FOR_SALE,2065665911,https://photos.zillowstatic.com/fp/81a8928ee46...,6500.0,6,None,USA,USD,12,True,True,NaN,NaN
1,None,APARTMENT,NaN,"2205 Avenue X #1, Brooklyn, NY 11235",-1,699000,None,-73.94795,40.593250,None,FOR_SALE,2065418070,https://maps.googleapis.com/maps/api/staticmap...,2180.0,0,None,USA,USD,0,None,True,NaN,NaN
2,None,APARTMENT,NaN,"415 Woodward Ave SUITE 1, Ridgewood, NY 11385",-1,2000000,None,-73.91150,40.708580,None,FOR_SALE,2070765251,https://photos.zillowstatic.com/fp/f05f13909f2...,4500.0,5,None,USA,USD,11,True,True,NaN,NaN
3,None,APARTMENT,NaN,"555 Main St APT 1111, New York, NY 10044",-1,455000,None,-73.94948,40.762577,None,FOR_SALE,2098519057,https://photos.zillowstatic.com/fp/a68792d7720...,596.0,1,None,USA,USD,0,True,True,NaN,NaN
4,None,APARTMENT,NaN,"71 Coffey St #1, Brooklyn, NY 11231",-1,2995000,None,-74.01303,40.675236,None,FOR_SALE,2076670359,https://photos.zillowstatic.com/fp/c935cc2d699...,4193.0,4,None,USA,USD,6,True,True,NaN,NaN

In [ ]:
#EXTENDED SEARCH
zpids = df_second_page['zpid'].tolist()

detail_list = []
for zpid in zpids:
  url = "https://zillow-com1.p.rapidapi.com/property"

  querystring = {"zpid":zpid}

  headers = {
	"X-RapidAPI-Host": "zillow-com1.p.rapidapi.com",
	"X-RapidAPI-Key": api_key
  }

  response_zpids = requests.request("GET", url, headers=headers, params=querystring)
  response_zpids_json = response_zpids.json()
  time.sleep(6.1)

  detail_list.append(response_zpids_json)

In [ ]:
df_prop_details = pd.json_normalize(data=detail_list)
df_prop_details = df_prop_details[details_cols]

df_second_page = pd.concat([df_second_page, df_prop_details], axis=1)
df_second_page.head(5)

,dateSold,propertyType,lotAreaValue,address,daysOnZillow,price,listingDateTime,longitude,latitude,contingentListingType,listingStatus,zpid,imgSrc,livingArea,bathrooms,lotAreaUnit,country,currency,bedrooms,hasImage,listingSubType.is_FSBA,listingSubType.is_foreclosure,listingSubType.is_openHouse,propertyTaxRate,timeOnZillow,isListedByOwner,zipcode,annualHomeownersInsurance,rentZestimate,yearBuilt,pageViewCount,listingProvider.postingGroupName,resoFacts.cityRegion,resoFacts.hasCooling,resoFacts.hasView
0,None,APARTMENT,NaN,"30-06 42nd St #6FAM, Astoria, NY 11103",-1,1595000,None,-73.91379,40.763070,None,FOR_SALE,2065665911,https://photos.zillowstatic.com/fp/81a8928ee46...,6500.0,6,None,USA,USD,12,True,True,NaN,NaN,0.84,24 days,False,11103,6699,NaN,1920,1149,Modern Spaces,Astoria,False,False
1,None,APARTMENT,NaN,"2205 Avenue X #1, Brooklyn, NY 11235",-1,699000,None,-73.94795,40.593250,None,FOR_SALE,2065418070,https://maps.googleapis.com/maps/api/staticmap...,2180.0,0,None,USA,USD,0,None,True,NaN,NaN,0.65,5 days,False,11235,2936,NaN,1927,294,REMAX Elite,Brooklyn,False,False
2,None,APARTMENT,NaN,"415 Woodward Ave SUITE 1, Ridgewood, NY 11385",-1,2000000,None,-73.91150,40.708580,None,FOR_SALE,2070765251,https://photos.zillowstatic.com/fp/f05f13909f2...,4500.0,5,None,USA,USD,11,True,True,NaN,NaN,0.84,5 days,False,11385,8400,2049.0,1915,238,Continent Realty LLC,Ridgewood,False,False
3,None,APARTMENT,NaN,"555 Main St APT 1111, New York, NY 10044",-1,455000,None,-73.94948,40.762577,None,FOR_SALE,2098519057,https://photos.zillowstatic.com/fp/a68792d7720...,596.0,1,None,USA,USD,0,True,True,NaN,NaN,0.88,20 days,False,10044,1911,2984.0,1975,1874,Houlihan Lawrence,New York,True,False
4,None,APARTMENT,NaN,"71 Coffey St #1, Brooklyn, NY 11231",-1,2995000,None,-74.01303,40.675236,None,FOR_SALE,2076670359,https://photos.zillowstatic.com/fp/c935cc2d699...,4193.0,4,None,USA,USD,6,True,True,NaN,NaN,0.65,17 days,False,11231,12579,3240.0,2005,1257,Compass,Brooklyn,True,False

In [ ]:
url = "https://zillow-com1.p.rapidapi.com/propertyExtendedSearch"

querystring = {"location":search_query,"home_type":"Apartments",
               "page":"3"}

headers = {
	"X-RapidAPI-Host": "zillow-com1.p.rapidapi.com",
	"X-RapidAPI-Key": api_key,
  "minPrice":'6000000',
  "sqftMin":'150'
}

response = requests.request("GET", url, headers=headers, params=querystring)
response = response.json()

In [ ]:
pd.set_option('display.max_columns', 500)
df_third_page = pd.json_normalize(data=response['props'])
print('Columns -->', df_third_page.columns)
print('Nuw of Columns -->', len(df_third_page.columns))
print('Num of rows -->', len(df_third_page) )
df_third_page.head(5)

Columns --> Index(['dateSold', 'propertyType', 'lotAreaValue', 'address', 'daysOnZillow',
       'price', 'listingDateTime', 'longitude', 'latitude',
       'contingentListingType', 'listingStatus', 'zpid', 'imgSrc',
       'livingArea', 'bathrooms', 'lotAreaUnit', 'country', 'currency',
       'bedrooms', 'hasImage', 'listingSubType.is_FSBA',
       'listingSubType.is_openHouse'],
      dtype='object')
Nuw of Columns --> 22
Num of rows --> 40

,dateSold,propertyType,lotAreaValue,address,daysOnZillow,price,listingDateTime,longitude,latitude,contingentListingType,listingStatus,zpid,imgSrc,livingArea,bathrooms,lotAreaUnit,country,currency,bedrooms,hasImage,listingSubType.is_FSBA,listingSubType.is_openHouse
0,None,APARTMENT,NaN,"995 5th Ave APT 3N, New York, NY 10028",-1,10900000,None,-73.962550,40.778004,None,FOR_SALE,82227436,https://photos.zillowstatic.com/fp/566294aa291...,4118.0,5,None,USA,USD,4,True,True,NaN
1,None,APARTMENT,NaN,"520 W 23rd St APT 5E, New York, NY 10011",-1,730000,None,-74.004814,40.747807,None,FOR_SALE,72514862,https://photos.zillowstatic.com/fp/88880419271...,608.0,1,None,USA,USD,1,True,True,True
2,None,APARTMENT,NaN,"2 W End Ave APT 2C, Brooklyn, NY 11235",-1,435000,None,-73.954160,40.581326,None,FOR_SALE,245021492,https://photos.zillowstatic.com/fp/d4758dd3a48...,1150.0,1,None,USA,USD,2,True,True,NaN
3,None,APARTMENT,NaN,"110-45 Queens Blvd #1A, Forest Hills, NY 11375",-1,399000,None,-73.838830,40.719513,None,FOR_SALE,124449232,https://photos.zillowstatic.com/fp/24eff940eb2...,NaN,2,None,USA,USD,0,True,True,NaN
4,None,APARTMENT,0.0,"403 Willow Rd E #1, Staten Island, NY 10314",-1,435000,None,-74.152290,40.615310,None,FOR_SALE,32303401,https://photos.zillowstatic.com/fp/bf845effe0b...,1248.0,2,sqft,USA,USD,2,True,True,NaN

In [ ]:
zpids = df_third_page['zpid'].tolist()

detail_list = []
for zpid in zpids:
  url = "https://zillow-com1.p.rapidapi.com/property"

  querystring = {"zpid":zpid}

  headers = {
	"X-RapidAPI-Host": "zillow-com1.p.rapidapi.com",
	"X-RapidAPI-Key": api_key
  }

  response_zpids = requests.request("GET", url, headers=headers, params=querystring)
  response_zpids_json = response_zpids.json()
  time.sleep(6.1)

  detail_list.append(response_zpids_json)

In [ ]:
df_prop_details = pd.json_normalize(data=detail_list)
df_prop_details = df_prop_details[details_cols]

df_third_page = pd.concat([df_third_page, df_prop_details], axis=1)
df_third_page.head(5)

,dateSold,propertyType,lotAreaValue,address,daysOnZillow,price,listingDateTime,longitude,latitude,contingentListingType,listingStatus,zpid,imgSrc,livingArea,bathrooms,lotAreaUnit,country,currency,bedrooms,hasImage,listingSubType.is_FSBA,listingSubType.is_openHouse,propertyTaxRate,timeOnZillow,isListedByOwner,zipcode,annualHomeownersInsurance,rentZestimate,yearBuilt,pageViewCount,listingProvider.postingGroupName,resoFacts.cityRegion,resoFacts.hasCooling,resoFacts.hasView
0,None,APARTMENT,NaN,"995 5th Ave APT 3N, New York, NY 10028",-1,10900000,None,-73.962550,40.778004,None,FOR_SALE,82227436,https://photos.zillowstatic.com/fp/566294aa291...,4118.0,5,None,USA,USD,4,True,True,NaN,0.88,141 days,False,10028,45780,14990.0,1926,679,Sotheby's International Realty,New York,True,False
1,None,APARTMENT,NaN,"520 W 23rd St APT 5E, New York, NY 10011",-1,730000,None,-74.004814,40.747807,None,FOR_SALE,72514862,https://photos.zillowstatic.com/fp/88880419271...,608.0,1,None,USA,USD,1,True,True,True,0.88,78 days,False,10011,3066,5450.0,2003,511,Compass,New York,True,False
2,None,APARTMENT,NaN,"2 W End Ave APT 2C, Brooklyn, NY 11235",-1,435000,None,-73.954160,40.581326,None,FOR_SALE,245021492,https://photos.zillowstatic.com/fp/d4758dd3a48...,1150.0,1,None,USA,USD,2,True,True,NaN,0.65,178 days,False,11235,1827,2232.0,1953,427,"Diamond Real, Inc.",Brooklyn,False,False
3,None,APARTMENT,NaN,"110-45 Queens Blvd #1A, Forest Hills, NY 11375",-1,399000,None,-73.838830,40.719513,None,FOR_SALE,124449232,https://photos.zillowstatic.com/fp/24eff940eb2...,NaN,2,None,USA,USD,0,True,True,NaN,0.84,6 days,False,11375,1676,2400.0,1951,299,Century 21 Amiable Realty Group II Inc,Forest Hills,False,False
4,None,APARTMENT,0.0,"403 Willow Rd E #1, Staten Island, NY 10314",-1,435000,None,-74.152290,40.615310,None,FOR_SALE,32303401,https://photos.zillowstatic.com/fp/bf845effe0b...,1248.0,2,sqft,USA,USD,2,True,True,NaN,0.87,36 days,False,10314,1827,1381.0,1977,1351,NaN,Staten Island,True,False

In [ ]:
url = "https://zillow-com1.p.rapidapi.com/propertyExtendedSearch"

querystring = {"location":search_query,"home_type":"Apartments",
               "page":"4"}

headers = {
	"X-RapidAPI-Host": "zillow-com1.p.rapidapi.com",
	"X-RapidAPI-Key": api_key,
  "minPrice":'6000000',
  "sqftMin":'150'
}

response = requests.request("GET", url, headers=headers, params=querystring)
response = response.json()

In [ ]:
pd.set_option('display.max_columns', 500)
df_fourth_page = pd.json_normalize(data=response['props'])
print('Columns -->', df_fourth_page.columns)
print('Nuw of Columns -->', len(df_fourth_page.columns))
print('Num of rows -->', len(df_fourth_page) )
df_fourth_page.head(5)

Columns --> Index(['dateSold', 'propertyType', 'lotAreaValue', 'address', 'daysOnZillow',
       'price', 'listingDateTime', 'longitude', 'latitude',
       'contingentListingType', 'listingStatus', 'zpid', 'imgSrc',
       'livingArea', 'bathrooms', 'lotAreaUnit', 'country', 'currency',
       'bedrooms', 'hasImage', 'listingSubType.is_FSBA',
       'listingSubType.is_openHouse'],
      dtype='object')
Nuw of Columns --> 22
Num of rows --> 40

,dateSold,propertyType,lotAreaValue,address,daysOnZillow,price,listingDateTime,longitude,latitude,contingentListingType,listingStatus,zpid,imgSrc,livingArea,bathrooms,lotAreaUnit,country,currency,bedrooms,hasImage,listingSubType.is_FSBA,listingSubType.is_openHouse
0,None,APARTMENT,NaN,"2 W End Ave APT 2C, Brooklyn, NY 11235",-1,435000,None,-73.954160,40.581326,None,FOR_SALE,245021492,https://photos.zillowstatic.com/fp/d4758dd3a48...,1150.0,1,None,USA,USD,2,True,True,NaN
1,None,APARTMENT,NaN,"99-40 63rd Rd #5T, Rego Park, NY 11374",-1,385000,None,-73.855515,40.732310,None,FOR_SALE,2066958535,https://photos.zillowstatic.com/fp/80b5bbe4035...,NaN,1,None,USA,USD,2,True,True,True
2,None,APARTMENT,NaN,"7005 13th Ave APT 1, Brooklyn, NY 11228",-1,1250000,None,-74.004450,40.622850,None,FOR_SALE,2065461408,https://photos.zillowstatic.com/fp/acdb57467cb...,NaN,2,None,USA,USD,3,True,True,NaN
3,None,APARTMENT,NaN,"215 E 96th St #32C, New York, NY 10128",-1,1195000,None,-73.947970,40.785130,None,FOR_SALE,321915286,https://photos.zillowstatic.com/fp/b7ba5075ef4...,1183.0,2,None,USA,USD,2,True,True,True
4,None,APARTMENT,NaN,"242 E 25th St APT 10A, New York, NY 10010",-1,675000,None,-73.980550,40.739170,None,FOR_SALE,321905366,https://photos.zillowstatic.com/fp/2d9df910ab9...,720.0,1,None,USA,USD,1,True,True,NaN

In [ ]:
zpids = df_fourth_page['zpid'].tolist()

detail_list = []
for zpid in zpids:
  url = "https://zillow-com1.p.rapidapi.com/property"

  querystring = {"zpid":zpid}

  headers = {
	"X-RapidAPI-Host": "zillow-com1.p.rapidapi.com",
	"X-RapidAPI-Key": api_key
  }

  response_zpids = requests.request("GET", url, headers=headers, params=querystring)
  response_zpids_json = response_zpids.json()
  time.sleep(6.1)

  detail_list.append(response_zpids_json)

In [ ]:
df_prop_details = pd.json_normalize(data=detail_list)
df_prop_details = df_prop_details[details_cols]

df_fourth_page = pd.concat([df_fourth_page, df_prop_details], axis=1)
df_third_page.head(5)

,dateSold,propertyType,lotAreaValue,address,daysOnZillow,price,listingDateTime,longitude,latitude,contingentListingType,listingStatus,zpid,imgSrc,livingArea,bathrooms,lotAreaUnit,country,currency,bedrooms,hasImage,listingSubType.is_FSBA,listingSubType.is_openHouse,propertyTaxRate,timeOnZillow,isListedByOwner,zipcode,annualHomeownersInsurance,rentZestimate,yearBuilt,pageViewCount,listingProvider.postingGroupName,resoFacts.cityRegion,resoFacts.hasCooling,resoFacts.hasView
0,None,APARTMENT,NaN,"995 5th Ave APT 3N, New York, NY 10028",-1,10900000,None,-73.962550,40.778004,None,FOR_SALE,82227436,https://photos.zillowstatic.com/fp/566294aa291...,4118.0,5,None,USA,USD,4,True,True,NaN,0.88,141 days,False,10028,45780,14990.0,1926,679,Sotheby's International Realty,New York,True,False
1,None,APARTMENT,NaN,"520 W 23rd St APT 5E, New York, NY 10011",-1,730000,None,-74.004814,40.747807,None,FOR_SALE,72514862,https://photos.zillowstatic.com/fp/88880419271...,608.0,1,None,USA,USD,1,True,True,True,0.88,78 days,False,10011,3066,5450.0,2003,511,Compass,New York,True,False
2,None,APARTMENT,NaN,"2 W End Ave APT 2C, Brooklyn, NY 11235",-1,435000,None,-73.954160,40.581326,None,FOR_SALE,245021492,https://photos.zillowstatic.com/fp/d4758dd3a48...,1150.0,1,None,USA,USD,2,True,True,NaN,0.65,178 days,False,11235,1827,2232.0,1953,427,"Diamond Real, Inc.",Brooklyn,False,False
3,None,APARTMENT,NaN,"110-45 Queens Blvd #1A, Forest Hills, NY 11375",-1,399000,None,-73.838830,40.719513,None,FOR_SALE,124449232,https://photos.zillowstatic.com/fp/24eff940eb2...,NaN,2,None,USA,USD,0,True,True,NaN,0.84,6 days,False,11375,1676,2400.0,1951,299,Century 21 Amiable Realty Group II Inc,Forest Hills,False,False
4,None,APARTMENT,0.0,"403 Willow Rd E #1, Staten Island, NY 10314",-1,435000,None,-74.152290,40.615310,None,FOR_SALE,32303401,https://photos.zillowstatic.com/fp/bf845effe0b...,1248.0,2,sqft,USA,USD,2,True,True,NaN,0.87,36 days,False,10314,1827,1381.0,1977,1351,NaN,Staten Island,True,False

In [ ]:
#concating all dataframes
df = pd.concat([df_first_page, df_second_page, df_third_page, df_fourth_page],axis=0)
df

,dateSold,propertyType,lotAreaValue,address,daysOnZillow,price,listingDateTime,longitude,latitude,contingentListingType,listingStatus,zpid,imgSrc,livingArea,bathrooms,lotAreaUnit,country,currency,bedrooms,hasImage,listingSubType.is_FSBA,listingSubType.is_openHouse,propertyTaxRate,timeOnZillow,isListedByOwner,zipcode,annualHomeownersInsurance,rentZestimate,yearBuilt,pageViewCount,listingProvider.postingGroupName,resoFacts.cityRegion,resoFacts.hasCooling,resoFacts.hasView,listingSubType.is_foreclosure
0,None,APARTMENT,NaN,"333 E 91st St APT 28-A, New York, NY 10128",-1,1995000,None,-73.947280,40.780277,None,FOR_SALE,123971408,https://photos.zillowstatic.com/fp/9a9763657e1...,1818.0,3,None,USA,USD,3,True,True,True,0.88,174 days,False,10128,8379,12146.0,2007.0,3892,Compass,New York,True,False,NaN
1,None,APARTMENT,NaN,"677 Seneca Ave FLOOR 1, Ridgewood, NY 11385",-1,1588000,None,-73.908070,40.703300,None,FOR_SALE,2077855350,https://photos.zillowstatic.com/fp/d3376a177ad...,3000.0,4,None,USA,USD,5,True,True,NaN,0.84,18 hours,False,11385,6670,2894.0,1920.0,113,EXP Realty NYC,Ridgewood,True,False,NaN
2,None,APARTMENT,NaN,"474 48th Ave APT 29B, Long Island City, NY 11109",-1,735000,None,-73.956340,40.744408,None,FOR_SALE,79739498,https://photos.zillowstatic.com/fp/93f19aea44f...,1046.0,2,None,USA,USD,2,True,True,True,0.84,167 days,False,11109,3087,3319.0,1996.0,6591,Modern Spaces,Long Island City,False,True,NaN
3,None,APARTMENT,NaN,"771 E 9th St APT 1, Brooklyn, NY 11230",-1,1580000,None,-73.967850,40.630030,None,FOR_SALE,2065298549,https://photos.zillowstatic.com/fp/5848584357f...,5000.0,6,None,USA,USD,14,True,True,NaN,0.65,2 days,False,11230,6636,NaN,1925.0,254,Remax Edge,Brooklyn,False,False,NaN
4,None,APARTMENT,NaN,"4 W 21st St APT 11B, New York, NY 10010",-1,1750000,None,-73.990395,40.740055,None,FOR_SALE,72538269,https://photos.zillowstatic.com/fp/987d45ac953...,1674.0,3,None,USA,USD,3,True,True,NaN,0.88,476 days,False,10010,7350,11710.0,2006.0,2540,Brown Harris Stevens,New York,True,False,NaN
5,None,APARTMENT,NaN,"4-74 48th Ave PENTHOUSE 1C, Long Island City, ...",-1,555555,None,-73.956340,40.744408,None,FOR_SALE,219836786,https://photos.zillowstatic.com/fp/df7f9142c3c...,921.0,1,None,USA,USD,1,True,True,True,0.84,631 days,False,11109,2333,3776.0,1996.0,946,Modern Spaces,Long Island City,True,True,NaN
6,None,APARTMENT,NaN,"4-74 48th Ave APT 19A, Long Island City, NY 11109",-1,699999,None,-73.956340,40.744408,None,FOR_SALE,113197815,https://photos.zillowstatic.com/fp/27bea9f710f...,1046.0,2,None,USA,USD,2,True,True,True,0.84,217 days,False,11109,2940,2900.0,1996.0,3573,Modern Spaces,Long Island City,False,False,NaN
7,None,APARTMENT,NaN,"300 E 40th St APT 8F, New York, NY 10016",-1,720000,None,-73.973140,40.748100,None,FOR_SALE,244884473,https://photos.zillowstatic.com/fp/592f2685862...,NaN,1,None,USA,USD,0,True,True,NaN,0.88,1 hour,False,10016,3024,3866.0,1967.0,3,Brown Harris Stevens,New York,False,False,NaN
8,None,APARTMENT,NaN,"4-74 48th Ave #21AB, Long Island City, NY 11109",-1,1250000,None,-73.956800,40.744200,None,FOR_SALE,2078556904,https://photos.zillowstatic.com/fp/6a9ac7ac0b6...,2200.0,2,None,USA,USD,3,True,True,True,0.84,8 days,False,11109,5250,5351.0,1996.0,1658,Compass,Long Island City,False,False,NaN
9,None,APARTMENT,1077.0,"310 E 46th St APT 23G, New York, NY 10017",-1,1250000,None,-73.969730,40.752007,None,FOR_SALE,82228315,https://photos.zillowstatic.com/fp/10317ca847f...,1077.0,1,sqft,USA,USD,1,True,True,True,0.88,2 days,False,10017,5250,4440.0,1929.0,160,SERHANT.,New York,True,True,NaN
10,None,APARTMENT,NaN,"85-15 Main St #7B, Jamaica, NY 11435",-1,154888,None,-73.818800,40.709700,None,FOR_SALE,2080433707,https://photos.zillowstatic.com/fp/ab6db629362...,425.0,1,None,USA,USD,0,True,True,True,0.84,21 days,False,11435,651,1459.0,1966.0,1500,EXP Realty NYC,Jamaica,True,False,NaN
11,None,APARTMENT,NaN,"12205 Flatlands Ave APT 9J, Brooklyn, NY 11207",-1,350000,None,-73.883800,40.654800,None,FOR_SALE,2106073263,https://photos.zillowstatic.com/fp/a8d4c0e7329...,920.0,1,None,USA,USD,2,True,True,True,0.65,17 hours,False,11207,1470,1814.0,NaN,110,Compass,Brooklyn,False,False,NaN
12,None,APARTMENT,NaN,"305 W 16th St PENTHOUSE C, New York, NY 10011",-1,2249500,None,-74.001700,40.741400,None,FOR_SALE,2078257908,https://photos.zillowstatic.com/fp/0b973d2e962...,1001.0,2,None,USA,USD,2,True,True,True,0.88,20 hours,False,10011,9448,7478.0,2008.0,224,CORE,New York,True,False,NaN
13,None,APARTMENT,NaN,"677 Grandview Ave #9, Ridgewood, NY 11385",-1,1655555,None,-73.903700,40.707600,None,FOR_SALE,2064416664,https://photos.zillowstatic.com/fp/f71051a73c2...,8840.0,9,None,USA,USD,15,True,True,NaN,0.84,3 hours,False,11385,6953,NaN,1930.0,24,New York Realty Minimax Inc,Ridgewood,False,False,NaN
14,None,APARTMENT,NaN,"995 5th Ave FLOOR 16, New York, NY 10028",-1,29500000,None,-73.962550,40.778004,None,FOR_SALE,219692415,https://photos.zillowstatic.com/fp/7e19ce414f5...,8360.0,10,None,USA,USD,8,True,True,NaN,0.88,203 days,False,10028,123900,40601.0,1926.0,3417,Douglas Elliman,New York,False,False,NaN
15,None,APARTMENT,2925.0,"42 Ann St APT 7, New York, NY 10038",-1,3150000,None,-74.007210,40.710330,None,FOR_SALE,124438842,https://photos.zillowstatic.com/fp/2fe0026de80...,2708.0,3,sqft,USA,USD,3,True,True,True,0.88,17 hours,False,10038,13230,5326.0,1900.0,123,Compass,New York,True,False,NaN
16,None,APARTMENT,NaN,"334 E 65th St APT 42, New York, NY 10065",-1,399000,None,-73.960500,40.763600,None,FOR_SALE,2067837641,https://photos.zillowstatic.com/fp/7b54dfcb572...,3809.0,1,None,USA,USD,1,True,True,NaN,0.88,163 days,False,10065,1676,3930.0,1881.0,3712,Engel & Vlkers New York Real Estate,New York,True,False,NaN
17,None,APARTMENT,749.0,"2081 Cruger Ave, Bronx, NY 10462",-1,139500,None,-73.867035,40.852750,None,FOR_SALE,2065434930,https://photos.zillowstatic.com/fp/e4430338559...,NaN,1,sqft,USA,USD,1,True,True,NaN,0.95,7 days,False,10462,586,NaN,1931.0,728,COUNTRYWIDE REAL ESTATE INC,Bronx,False,False,NaN
18,None,APARTMENT,NaN,"300 E 40th St APT 30T, New York, NY 10016",-1,1350000,None,-73.973140,40.748100,None,FOR_SALE,244740259,https://photos.zillowstatic.com/fp/913f1e29621...,1000.0,2,None,USA,USD,1,True,True,True,0.88,21 hours,False,10016,5670,3999.0,1967.0,40,Douglas Elliman,New York,False,False,NaN
19,None,APARTMENT,NaN,"160 Bleecker St APT 3KW, New York, NY 10012",-1,455000,None,-74.000200,40.728400,None,FOR_SALE,2109760284,https://photos.zillowstatic.com/fp/0a4b17493ec...,500.0,1,None,USA,USD,0,True,True,NaN,0.88,258 days,False,10012,1911,3069.0,1910.0,3292,Living New York,New York,True,False,NaN
20,None,APARTMENT,NaN,"1210 Evergreen Ave APT 4, Bronx, NY 10472",-1,299000,None,-73.880875,40.828934,None,FOR_SALE,2069656047,https://photos.zillowstatic.com/fp/9626a7e4250...,1100.0,1,None,USA,USD,2,True,True,NaN,0.95,46 days,False,10472,1256,1975.0,1913.0,2936,"The Leveque Group, LLC",Bronx,False,False,NaN
21,None,APARTMENT,NaN,"425 E 63rd St APT E6D, New York, NY 10065",-1,1475000,None,-73.958600,40.761875,None,FOR_SALE,244825266,https://photos.zillowstatic.com/fp/3609a731343...,455403.0,2,None,USA,USD,2,True,True,True,0.88,17 minutes,False,10065,6195,2739.0,1956.0,9,Sotheby's International Realty,New York,False,False,NaN
22,None,APARTMENT,NaN,"445 Lafayette St APT 5A, New York, NY 10003",-1,4200000,None,-73.991200,40.729500,None,FOR_SALE,2122086846,https://photos.zillowstatic.com/fp/5dcec334f92...,2248.0,3,None,USA,USD,3,True,True,NaN,0.88,3 days,False,10003,17640,4679.0,2004.0,540,Compass,New York,True,True,NaN
23,None,APARTMENT,NaN,"21-06 35th St #3C, Astoria, NY 11105",-1,399999,None,-73.907050,40.776590,None,FOR_SALE,2094734735,https://photos.zillowstatic.com/fp/9fb866c4f0a...,700.0,1,None,USA,USD,2,True,True,NaN,0.84,52 days,False,11105,1680,4092.0,1923.0,1890,Corcoran,Astoria,False,False,NaN
24,None,APARTMENT,NaN,"420 E 64th St APT E10D, New York, NY 10065",-1,1400000,None,-73.959300,40.762420,None,FOR_SALE,244847252,https://photos.zillowstatic.com/fp/0541d805cec...,455403.0,2,None,USA,USD,2,True,True,NaN,0.88,23 hours,False,10065,5880,2739.0,NaN,61,New York Home Real Estate Services,New York,False,False,NaN
25,None,APARTMENT,NaN,"4-74 48th Ave PENTHOUSE 2-C, Long Island City,...",-1,650000,None,-73.956340,40.744408,None,FOR_SALE,219836778,https://photos.zillowstatic.com/fp/6fcdaad3d5a...,952.0,1,None,USA,USD,2,True,True,True,0.84,8 days,False,11109,2730,2988.0,1996.0,1026,Berkshire Hathaway HomeServices New York Prope...,Long Island City,True,False,NaN
26,None,APARTMENT,NaN,"2373 Broadway APT 1408, New York, NY 10024",-1,1975000,None,-73.976670,40.788925,None,FOR_SALE,244725062,https://photos.zillowstatic.com/fp/8414be931bb...,NaN,2,None,USA,USD,2,True,True,True,0.88,18 hours,False,10024,8295,4501.0,1987.0,62,Brown Harris Stevens,New York,True,False,NaN
27,None,APARTMENT,NaN,"419 W 55th St APT 3C, New York, NY 10019",-1,999000,None,-73.987550,40.767250,None,FOR_SALE,72538810,https://photos.zillowstatic.com/fp/cef492ee386...,1274.0,2,None,USA,USD,2,True,True,NaN,0.88,40 days,False,10019,4196,6799.0,1911.0,4025,Brown Harris Stevens,New York,True,False,NaN
28,None,APARTMENT,NaN,"157 Broome St #6D, New York, NY 10002",-1,599000,None,-73.985330,40.716410,None,FOR_SALE,2067078065,https://photos.zillowstatic.com/fp/88f87209ebc...,741.0,1,None,USA,USD,2,True,True,NaN,0.88,104 days,False,10002,2516,NaN,1910.0,4585,Burkesworks Properties,New York,False,False,NaN
29,None,APARTMENT,NaN,"245 Henry St #1B, New York, NY 10002",-1,600000,None,-73.994700,40.693400,None,FOR_SALE,2068367878,https://photos.zillowstatic.com/fp/96935fc69a8...,NaN,1,None,USA,USD,1,True,True,True,0.65,185 days,False,10002,2520,2600.0,1957.0,2169,Compass,New York,False,False,NaN
30,None,APARTMENT,NaN,"995 5th Ave, New York, NY 10028",-1,14500000,None,-73.962550,40.778004,None,FOR_SALE,219692413,https://photos.zillowstatic.com/fp/ce5a36bee87...,4825.0,7,None,USA,USD,6,True,True,NaN,0.88,575 days,False,10028,60900,38442.0,1926.0,1976,Sotheby's International Realty,New York,True,False,NaN
31,None,APARTMENT,NaN,"181 Withers St APT 4B, Brooklyn, NY 11211",-1,945000,None,-73.944460,40.717533,None,FOR_SALE,112080563,https://photos.zillowstatic.com/fp/e152fe4f905...,680.0,2,None,USA,USD,1,True,True,NaN,0.65,8 days,False,11211,3969,3499.0,2008.0,771,SERHANT.,Brooklyn,True,True,NaN
32,None,APARTMENT,NaN,"254 W 25th St APT 5A, New York, NY 10001",-1,1399000,None,-73.996666,40.745950,None,FOR_SALE,72515600,https://photos.zillowstatic.com/fp/7f8574a9957...,970.0,1,None,USA,USD,2,True,True,True,0.88,1 hour,False,10001,5876,5010.0,1925.0,14,Compass,New York,False,False,NaN
33,None,APARTMENT,8174.0,"2409 Avenue Z APT 202, Brooklyn, NY 11235",-1,838000,None,-73.944980,40.589120,None,FOR_SALE,119669146,https://photos.zillowstatic.com/fp/a7c900ca06d...,1354.0,2,sqft,USA,USD,3,True,True,NaN,0.65,2 days,False,11235,3520,1900.0,2010.0,229,Remax Edge,Brooklyn,True,False,NaN
34,None,APARTMENT,NaN,"555 Main St APT 1111, New York, NY 10044",-1,455000,None,-73.949480,40.762577,None,FOR_SALE,2098519057,https://photos.zillowstatic.com/fp/a68792d7720...,596.0,1,None,USA,USD,0,True,True,NaN,0.88,20 days,False,10044,1911,2984.0,1975.0,1874,Houlihan Lawrence,New York,True,False,NaN
35,None,APARTMENT,NaN,"21 E 61st St APT 5A, New York, NY 10065",-1,3375000,None,-73.970600,40.765300,None,FOR_SALE,2064729714,https://photos.zillowstatic.com/fp/8f0e5043490...,NaN,2,None,USA,USD,2,True,True,NaN,0.88,22 hours,False,10065,14175,NaN,1951.0,70,Douglas Elliman,New York,True,False,NaN
36,None,APARTMENT,NaN,"500 W 111th St #G3, New York, NY 10025",-1,775000,None,-73.963875,40.803590,None,FOR_SALE,2065555461,https://photos.zillowstatic.com/fp/9f9d2ed8063...,NaN,1,None,USA,USD,2,True,True,True,0.88,15 days,False,10025,3255,NaN,1909.0,816,"Douglas Keisler, LREB",New York,False,False,NaN
37,None,APARTMENT,NaN,"4-74 48th Ave APT 28E, Long Island City, NY 11109",-1,580000,None,-73.956340,40.744408,None,FOR_SALE,80379801,https://photos.zillowstatic.com/fp/d1b5a24910a...,700.0,1,None,USA,USD,1,True,True,True,0.84,8 days,False,11109,2436,3135.0,1996.0,454,Modern Spaces,Long Island City,False,True,NaN
38,None,APARTMENT,NaN,"63 E 9th St APT 12H, New York, NY 10003",-1,1750000,None,-73.992070,40.731583,None,FOR_SALE,244744707,https://photos.zillowstatic.com/fp/417b15e165c...,NaN,2,None,USA,USD,3,True,True,NaN,0.88,51 days,False,10003,7350,4697.0,1955.0,1855,Brown Harris Stevens,New York,True,False,NaN
39,None,APARTMENT,NaN,"71 Coffey St #1, Brooklyn, NY 11231",-1,2995000,None,-74.013030,40.675236,None,FOR_SALE,2076670359,https://photos.zillowstatic.com/fp/c935cc2d699...,4193.0,4,None,USA,USD,6,True,True,NaN,0.65,17 days,False,11231,12579,3240.0,2005.0,1257,Compass,Brooklyn,True,False,NaN
0,None,APARTMENT,NaN,"30-06 42nd St #6FAM, Astoria, NY 11103",-1,1595000,None,-73.913790,40.763070,None,FOR_SALE,2065665911,https://photos.zillowstatic.com/fp/81a8928ee46...,6500.0,6,None,USA,USD,12,True,True,NaN,0.84,24 days,False,11103,6699,NaN,1920.0,1149,Modern Spaces,Astoria,False,False,NaN
1,None,APARTMENT,NaN,"2205 Avenue X #1, Brooklyn, NY 11235",-1,699000,None,-73.947950,40.593250,None,FOR_SALE,2065418070,https://maps.googleapis.com/maps/api/staticmap...,2180.0,0,None,USA,USD,0,None,True,NaN,0.65,5 days,False,11235,2936,NaN,1927.0,294,REMAX Elite,Brooklyn,False,False,NaN
2,None,APARTMENT,NaN,"415 Woodward Ave SUITE 1, Ridgewood, NY 11385",-1,2000000,None,-73.911500,40.708580,None,FOR_SALE,2070765251,https://photos.zillowstatic.com/fp/f05f13909f2...,4500.0,5,None,USA,USD,11,True,True,NaN,0.84,5 days,False,11385,8400,2049.0,1915.0,238,Continent Realty LLC,Ridgewood,False,False,NaN
3,None,APARTMENT,NaN,"555 Main St APT 1111, New York, NY 10044",-1,455000,None,-73.949480,40.762577,None,FOR_SALE,2098519057,https://photos.zillowstatic.com/fp/a68792d7720...,596.0,1,None,USA,USD,0,True,True,NaN,0.88,20 days,False,10044,1911,2984.0,1975.0,1874,Houlihan Lawrence,New York,True,False,NaN
4,None,APARTMENT,NaN,"71 Coffey St #1, Brooklyn, NY 11231",-1,2995000,None,-74.013030,40.675236,None,FOR_SALE,2076670359,https://photos.zillowstatic.com/fp/c935cc2d699...,4193.0,4,None,USA,USD,6,True,True,NaN,0.65,17 days,False,11231,12579,3240.0,2005.0,1257,Compass,Brooklyn,True,False,NaN
5,None,APARTMENT,NaN,"343 E 74th St #17CD, New York, NY 10021",-1,1995000,None,-73.955734,40.769770,None,FOR_SALE,2068015398,https://photos.zillowstatic.com/fp/927420a4245...,2057.0,3,None,USA,USD,4,True,True,NaN,0.88,181 days,False,10021,8379,4135.0,1987.0,1120,Warburg Realty,New York,True,False,NaN
6,None,APARTMENT,2243.0,"804 E 216th St, Bronx, NY 10467",-1,550000,None,-73.860920,40.880344,None,FOR_SALE,89068420,https://photos.zillowstatic.com/fp/51bd19f47d3...,2604.0,3,sqft,USA,USD,6,True,NaN,NaN,0.95,38 days,False,10467,2310,2370.0,2006.0,1062,MACH REALTY LLC,Bronx,False,False,True
7,None,APARTMENT,NaN,"474 48th Ave APT 15A, Long Island City, NY 11109",-1,739000,None,-73.956340,40.744408,None,FOR_SALE,245408485,https://photos.zillowstatic.com/fp/5d933cd0db3...,1050.0,2,None,USA,USD,2,True,True,True,0.84,99 days,False,11109,3104,2496.0,1996.0,1717,Modern Spaces,Long Island City,False,False,NaN
8,None,APARTMENT,NaN,"1199 Dean St APT 1, Brooklyn, NY 11216",-1,1100000,None,-73.949585,40.677090,None,FOR_SALE,2110946906,https://maps.googleapis.com/maps/api/staticmap...,4000.0,4,None,USA,USD,8,None,True,NaN,0.65,22 days,False,11216,4620,2650.0,1905.0,1410,Marcus & Millichap Real Estate Investment Serv...,Brooklyn,False,False,NaN
9,None,APARTMENT,NaN,"304 Spring St APT 8, New York, NY 10013",-1,4250000,None,-74.008180,40.725708,None,FOR_SALE,80009516,https://photos.zillowstatic.com/fp/bacc59c3be0...,1863.0,2,None,USA,USD,3,True,True,NaN,0.88,43 days,False,10013,17850,12352.0,2005.0,1374,Douglas Elliman,New York,True,True,NaN
10,None,APARTMENT,NaN,"150 W 50th St #6703, New York, NY 10019",-1,3600000,None,-73.982840,40.760517,None,FOR_SALE,2065530255,https://photos.zillowstatic.com/fp/17a68551d83...,2160.0,4,None,USA,USD,3,True,True,True,0.88,14 days,False,10019,15120,NaN,1999.0,927,Douglas Elliman,New York,False,False,NaN
11,None,APARTMENT,NaN,"995 5th Ave, New York, NY 10028",-1,14500000,None,-73.962550,40.778004,None,FOR_SALE,219692413,https://photos.zillowstatic.com/fp/ce5a36bee87...,4825.0,7,None,USA,USD,6,True,True,NaN,0.88,575 days,False,10028,60900,38442.0,1926.0,1976,Sotheby's International Realty,New York,True,False,NaN
12,None,APARTMENT,943.0,"755 Narrows Rd N APT 403, Staten Island, NY 10304",-1,479900,None,-74.093575,40.610760,None,FOR_SALE,32287408,https://photos.zillowstatic.com/fp/7cdce592ff3...,943.0,2,sqft,USA,USD,2,True,True,NaN,0.87,18 days,False,10304,2016,2214.0,1987.0,988,NaN,Staten Island,True,False,NaN
13,None,APARTMENT,NaN,"63 E 9th St APT 12H, New York, NY 10003",-1,1750000,None,-73.992070,40.731583,None,FOR_SALE,244744707,https://photos.zillowstatic.com/fp/417b15e165c...,NaN,2,None,USA,USD,3,True,True,NaN,0.88,51 days,False,10003,7350,4697.0,1955.0,1855,Brown Harris Stevens,New York,True,False,NaN
14,None,APARTMENT,NaN,"1721 E 8th St #27UNITS, Brooklyn, NY 11223",-1,15000000,None,-73.964400,40.606900,None,FOR_SALE,2065724243,https://photos.zillowstatic.com/fp/4463c3953ca...,20700.0,28,None,USA,USD,68,True,True,NaN,0.65,30 days,False,11223,63000,NaN,1931.0,1871,NY Living Solutions,Brooklyn,False,False,NaN
15,None,APARTMENT,NaN,"87-14 57th Rd #H4, Elmhurst, NY 11373",-1,599000,None,-73.873740,40.733086,None,FOR_SALE,2065574193,https://photos.zillowstatic.com/fp/1a7235c214b...,863.0,1,None,USA,USD,2,True,True,NaN,0.84,17 days,False,11373,2516,NaN,1987.0,1007,B Square Realty,Elmhurst,False,False,NaN
16,None,APARTMENT,NaN,"50 Gramercy Park N #15AB, New York, NY 10010",-1,4995000,None,-73.986060,40.738630,None,FOR_SALE,321904083,https://photos.zillowstatic.com/fp/60b7bef6184...,3809.0,3,None,USA,USD,3,True,True,NaN,0.88,41 days,False,10010,20979,19500.0,1924.0,1389,Corcoran,New York,True,False,NaN
17,None,APARTMENT,NaN,"153 Bay 26 St #C, Brooklyn, NY 11214",-1,2200000,None,-73.999770,40.600510,None,FOR_SALE,2065411292,https://photos.zillowstatic.com/fp/8b4644dcfe4...,5000.0,4,None,USA,USD,0,True,True,NaN,0.65,4 days,False,11214,9240,NaN,1922.0,165,REMAX Elite,Brooklyn,True,False,NaN
18,None,APARTMENT,NaN,"4-74 48th Ave #4B, Queens, NY 11109",-1,399999,None,-73.956340,40.744408,None,FOR_SALE,219836841,https://photos.zillowstatic.com/fp/edbf7b8f7fb...,480.0,1,None,USA,USD,0,True,True,True,0.84,142 days,False,11109,1680,2629.0,1996.0,861,Corcoran,Queens,False,False,NaN
19,None,APARTMENT,NaN,"300 E 40th St APT 11P, New York, NY 10016",-1,749000,None,-73.973140,40.748100,None,FOR_SALE,244829146,https://photos.zillowstatic.com/fp/444feb9d8c5...,NaN,1,None,USA,USD,1,True,True,NaN,0.88,3 days,False,10016,3146,3866.0,1967.0,132,Compass,New York,False,False,NaN
20,None,APARTMENT,NaN,"8794 17th Ave #3D, Brooklyn, NY 11214",-1,675000,None,-74.009254,40.604782,None,FOR_SALE,2065747394,https://photos.zillowstatic.com/fp/523123c76fd...,925.0,2,None,USA,USD,2,True,True,True,0.65,31 days,False,11214,2835,NaN,2017.0,2058,Ilite Realty Inc,Brooklyn,True,False,NaN
21,None,APARTMENT,NaN,"743 E 6th St #1, New York, NY 10009",-1,5500000,None,-73.977390,40.722927,None,FOR_SALE,2088386508,https://photos.zillowstatic.com/fp/78cb50a6e79...,3930.0,3,None,USA,USD,3,True,True,NaN,0.88,116 days,False,10009,23100,18999.0,1940.0,1157,Cushman & Wakefield Realty of Manhattan LLC,New York,True,False,NaN
22,None,APARTMENT,NaN,"3334 Fort Independence St #1, Bronx, NY 10463",-1,1175000,None,-73.899340,40.878906,None,FOR_SALE,2065400625,https://photos.zillowstatic.com/fp/a89ea3e9e93...,NaN,3,None,USA,USD,6,True,True,True,0.95,3 days,False,10463,4935,NaN,1901.0,149,Bizzarro Agency,Bronx,False,False,NaN

In [ ]:
df.to_csv('/drive/MyDrive/df_to_csv/zillow_df.csv', encoding='utf-8', index=False) # saving df on my own Google Drive